<head>
  <!-- Google Tag Manager -->
  <script>
    (function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != "dataLayer" ? "&l=" + l : "";
      j.async = true;
      j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, "script", "dataLayer", "{{ .Site.Params.gtmId }}");
  </script>
  <!-- End Google Tag Manager -->

  <!-- Vollgas Analytics v1 -->
  <script>
    vpAppId = {{ .Site.Params.vpixelAppId }};
  </script>
  <script
    type="module"
    crossorigin
    src="https://pixel.vollgas.net/js/vpixel.v1.es.js?vpAppId={{ .Site.Params.vpixelAppId }}"
  ></script>
  <!-- Vollgas Analytics -->

  <meta charset="utf-8" />
  <meta
    http-equiv="Cache-Control"
    content="no-cache, no-store, must-revalidate"
  />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />

  <title>{{ .Title }}</title>

  <meta name="description" content="{{ .Description }}" />

  <script type="text/javascript" src="randomString.js"></script>
  <style media="screen" type="text/css">
    table {
      border-collapse: collapse;
    }
    table,
    th,
    td {
      border: 1px solid black;
    }
    td {
      padding: 5px;
    }
  </style>

  <!-- Icons for browser tabs, etc. -->
  <!-- ****** faviconit.com favicons ****** -->
  <link rel="shortcut icon" href="/images/favicons/favicon.ico" />
  <link
    rel="icon"
    sizes="16x16 32x32 64x64"
    href="/images/favicons/favicon.ico"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="196x196"
    href="/images/favicons/favicon-192.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="160x160"
    href="/images/favicons/favicon-160.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="96x96"
    href="/images/favicons/favicon-96.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="64x64"
    href="/images/favicons/favicon-64.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="/images/favicons/favicon-32.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="/images/favicons/favicon-16.png"
  />
  <link rel="apple-touch-icon" href="/images/favicons/favicon-57.png" />
  <link
    rel="apple-touch-icon"
    sizes="114x114"
    href="/images/favicons/favicon-114.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="72x72"
    href="/images/favicons/favicon-72.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="144x144"
    href="/images/favicons/favicon-144.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="60x60"
    href="/images/favicons/favicon-60.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="120x120"
    href="/images/favicons/favicon-120.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="76x76"
    href="/images/favicons/favicon-76.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="152x152"
    href="/images/favicons/favicon-152.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="/images/favicons/favicon-180.png"
  />
  <meta name="msapplication-TileColor" content="#FFFFFF" />
  <meta
    name="msapplication-TileImage"
    content="/images/favicons/favicon-144.png"
  />
  <meta
    name="msapplication-config"
    content="/images/favicons/browserconfig.xml"
  />
  <!-- ****** faviconit.com favicons ****** -->
</head>
